.vscode/*

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Harness output
**/run/
benchmark-launcher-cli-3.1.0-windows.zip
primesieve-12.3*
y-cruncher v0.8.6.9545/
y-cruncher.v0.8.6.9545b.zip
basegame_no_intro_videos.archive
*.blend
0001.png
*.y4m
*.exe
!/games/cities_skylines_2/launcher/*.exe
*.mp4
godot-4.4.1-stable/
godot-4.4.1-stable.zip
mingw64/

# python
__pycache__/
.venv/
.ruff_cache/

.pi-subagents/

ffmpeg-8.0.1-full_build/
ffmpeg-8.0.1-full_static-win-arm64/
*.log
*.txt
!/games/stellaris/settings/pdx_settings.txt
!/games/stellaris/settings/settings.txt
uv.lock
