.vscode/*

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Harness output
run/
benchmark-launcher-cli-3.1.0-windows.zip
flac-1.4.3-win/
flac-1.4.3-win.zip

# python
__pycache__/