.vscode/*

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Harness output
run/
benchmark-launcher-cli-3.1.0-windows.zip
flac-1.4.3-win/
flac-1.4.3-win.zip
primesieve-12.3*
y-cruncher v0.8.2.9522/
y-cruncher v0.8.2.9522.zip
basegame_no_intro_videos.archive
*.blend
0001.png
*.msi
c-ray-fast*
sphfract.scn
output.ppm
tq_dlss_explained_1080*
xz_5.6.2_x86*
*.y4m
*.exe
*.mp4
godot-4.2.1-stable/
godot-4.2.1-stable.zip
mingw64/

# python
__pycache__/